<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Harel Travel Policy Suite">
  <listeners>
    <listener class-name="com.harel.travel.core.TestListener"/>
  </listeners>
  <test name="Travel Policy E2E">
    <classes>
      <class name="com.harel.travel.tests.TravelPolicyTest"/>
    </classes>
  </test>
</suite>
